.icon_menu_1{
	background-image:url('../../resources/images/menu/icon_1.png')!important;
}
.icon_menu_2{
	background-image:url('../../resources/images/menu/icon_2.png')!important;
}
.icon_menu_3{
	background-image:url('../../resources/images/menu/icon_3.png')!important;
}
.icon_menu_4{
	background-image:url('../../resources/images/menu/icon_4.png')!important;
}
.icon_menu_5{
	background-image:url('../../resources/images/menu/icon_5.png')!important;
}
.icon_menu_6{
	background-image:url('../../resources/images/menu/icon_6.png')!important;
}
.icon_menu_7{
	background-image:url('../../resources/images/menu/icon_7.png')!important;
}
.icon_menu_8{
	background-image:url('../../resources/images/menu/icon_8.png')!important;
}
.icon_menu_9{
	background-image:url('../../resources/images/menu/icon_9.png')!important;
}
.icon_menu_10{
	background-image:url('../../resources/images/menu/icon_10.png')!important;
}
.icon_menu_11{
	background-image:url('../../resources/images/menu/icon_11.png')!important;
}
.icon_menu_12{
	background-image:url('../../resources/images/menu/icon_12.png')!important;
}
.icon_menu_13{
	background-image:url('../../resources/images/menu/icon_13.png')!important;
}
.icon_menu_14{
	background-image:url('../../resources/images/menu/icon_14.png')!important;
}
.icon_menu_15{
	background-image:url('../../resources/images/menu/icon_15.png')!important;
}
.icon_menu_16{
	background-image:url('../../resources/images/menu/icon_16.png')!important;
}
.icon_menu_17{
	background-image:url('../../resources/images/menu/icon_17.png')!important;
}
.icon_menu_18{
	background-image:url('../../resources/images/menu/icon_18.png')!important;
}
.icon_menu_19{
	background-image:url('../../resources/images/menu/icon_19.png')!important;
}
.icon_menu_20{
	background-image:url('../../resources/images/menu/icon_20.png')!important;
}
.icon_menu_21{
	background-image:url('../../resources/images/menu/icon_21.png')!important;
}
.icon_menu_22{
	background-image:url('../../resources/images/menu/icon_22.png')!important;
}
.icon_menu_23{
	background-image:url('../../resources/images/menu/icon_23.png')!important;
}
.icon_menu_24{
	background-image:url('../../resources/images/menu/icon_24.png')!important;
}
.icon_menu_25{
	background-image:url('../../resources/images/menu/icon_25.png')!important;
}
.icon_menu_26{
	background-image:url('../../resources/images/menu/icon_26.png')!important;
}
.icon_menu_27{
	background-image:url('../../resources/images/menu/icon_27.png')!important;
}
.icon_menu_28{
	background-image:url('../../resources/images/menu/icon_28.png')!important;
}
.icon_menu_29{
	background-image:url('../../resources/images/menu/icon_29.png')!important;
}
.icon_menu_30{
	background-image:url('../../resources/images/menu/icon_30.png')!important;
}
.icon_menu_31{
	background-image:url('../../resources/images/menu/icon_31.png')!important;
}
.icon_menu_32{
	background-image:url('../../resources/images/menu/icon_32.png')!important;
}
.icon_menu_33{
	background-image:url('../../resources/images/menu/icon_33.png')!important;
}
.icon_menu_34{
	background-image:url('../../resources/images/menu/icon_34.png')!important;
}
.icon_menu_35{
	background-image:url('../../resources/images/menu/icon_35.png')!important;
}
.icon_menu_36{
	background-image:url('../../resources/images/menu/icon_36.png')!important;
}
.icon_menu_37{
	background-image:url('../../resources/images/menu/icon_37.png')!important;
}
.icon_menu_38{
	background-image:url('../../resources/images/menu/icon_38.png')!important;
}
.icon_menu_39{
	background-image:url('../../resources/images/menu/icon_39.png')!important;
}
.icon_menu_40{
	background-image:url('../../resources/images/menu/icon_40.png')!important;
}
.icon_menu_41{
	background-image:url('../../resources/images/menu/icon_41.png')!important;
}
.icon_menu_42{
	background-image:url('../../resources/images/menu/icon_42.png')!important;
}
.icon_menu_43{
	background-image:url('../../resources/images/menu/icon_43.png')!important;
}
.icon_menu_44{
	background-image:url('../../resources/images/menu/icon_44.png')!important;
}
.icon_menu_45{
	background-image:url('../../resources/images/menu/icon_45.png')!important;
}
.icon_menu_46{
	background-image:url('../../resources/images/menu/icon_46.png')!important;
}
.icon_menu_47{
	background-image:url('../../resources/images/menu/icon_47.png')!important;
}
.icon_menu_48{
	background-image:url('../../resources/images/menu/icon_48.png')!important;
}
.icon_menu_49{
	background-image:url('../../resources/images/menu/icon_49.png')!important;
}
.icon_menu_50{
	background-image:url('../../resources/images/menu/icon_50.png')!important;
}
.icon_menu_51{
	background-image:url('../../resources/images/menu/icon_51.png')!important;
}
.icon_menu_52{
	background-image:url('../../resources/images/menu/icon_52.png')!important;
}
.icon_menu_53{
	background-image:url('../../resources/images/menu/icon_53.png')!important;
}
.icon_menu_54{
	background-image:url('../../resources/images/menu/icon_54.png')!important;
}
.icon_menu_55{
	background-image:url('../../resources/images/menu/icon_55.png')!important;
}
.icon_menu_56{
	background-image:url('../../resources/images/menu/icon_56.png')!important;
}
.icon_menu_57{
	background-image:url('../../resources/images/menu/icon_57.png')!important;
}
.icon_menu_58{
	background-image:url('../../resources/images/menu/icon_58.png')!important;
}
.icon_menu_59{
	background-image:url('../../resources/images/menu/icon_59.png')!important;
}
.icon_menu_60{
	background-image:url('../../resources/images/menu/icon_60.png')!important;
}

