.app-header {
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.app-bottom {
	padding: 10px;
	font-size: 12px;
	color: #596F8F;
}

.x-accordion-hd{
	font-size: 12px;
	font-weight: bold;
}

.x-tab button{
	font-size: 12px;
	font-weight:normal;
	vertical-align: middle;
}
.x-tab-default-top button,.x-tab-default-top .x-tab-inner{
	height:13px;
	line-height:12px
}
.x-safari4 .x-tab-default-top .x-tab-inner,.x-safari5_0 .x-tab-default-top .x-tab-inner{
	line-height:12px
}
.x-panel-header {  
   line-height:14px;  
}

.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

.x-btn-text-icon{
    padding-left:12px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
